body
{
   font-family: Montserrat;
}

/* Navbar */
.navbar-brand
{
 font-family: Montserrat-Bold;
 font-size: 2rem;
}
#title {
    background-color: #338DD4;
    color: #fff;
    
    padding: 3% 15% 7%;
  }
 
  .big-heading
  {
    padding-bottom: 2%;
    font-family: Pacifico;
    font-size: 3rem;
  }
  /* <!-- Title --> */
  .search-bar
  {
    background-color: #338DD4;
    padding: 3% 10% 3%;
    text-align: center;
    color: #fff;
    box-align: center;
    
    
  }
  .search-box
  {
    border-radius: 50px;
    padding: 0.25% 15%;
    text-align: left;
    border: solid;
  border-color: #fff;}

  .search-btn
  {
    border-radius: 10px;
    margin-left: 10px;
    margin: 5px;
  }
.login-button{
    margin: 0 4px  ;

}
/* <!-- Features --> */
.img-red
{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
    
}
.products
{
    margin: 2% 3% 1%;
    text-align: center;
    
}
.feature-title{
    margin-top: 5%;
    font-family: Montserrat-Bold;
 font-size: 3rem;
line-height: 1.5;
}
/* Testimonials */
#testimonials
{
    padding: 15% 20% 7%;
    background-color: #408EE3;
    color: #fff;
}
.testimonial-image
{
    width: 20%;
    border-radius: 100%;
    
    margin-left: 30%;
    
}
.testimonial-text {
    
    line-height: 1.5;
    font-family: Montserrat-Bold;
    font-size: 3rem;
    color: #fff;
    text-align: center;
  }
  .p-tag
  {
    margin-left: 5px;
  }

  /* Loaction */
  .loaction
  {
   
    width: 200px;
  }

  /* pricing */
  #pricing
{
  padding: 15% 20% 10%;
  
}
.bolt
{
  margin: 5px 5px;
}
.section-heading
{
  line-height: 1.5;
  font-family: Montserrat-Bold;
  font-size: 3rem;
  
  text-align: center;

}
.section-p
{
  
  font-family: Montserrat;
  font-size: 1.5rem;
  
  text-align: center;

}
/* footer */
#footer
{
  color: #fff;
  background-color: #338DD4;
text-align: center;
  padding: 10% 20% 2%;
  margin-bottom: 0%;
}
.social-icon {
  color: #fff;
  margin: 20px 10px;
  cursor: pointer;
}
@media screen and (max-width:600px)
{
  .login-button
  {
    position: relative;
    left: 100px;
    margin-top: 0%};
    .big-heading
    {
      font-size: 1rem;
    }
    .search-bar
    {
      padding: 2% 8% 2%;
    }
    #testimonials
    {
      font-size: 1rem;
      line-height: 1;
    }
  }
  
